footer {
  background-color: $black-color;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer-heading {
  color: $white-color;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.footer-sub-heading {
  color: rgba($white-color, 0.75);
  font-size: 1.25rem;
  font-weight: 400;
}

.footer-description {
  color: rgba($white-color, 0.5);
  font-size: $smallest-size;
}

.footer-heading__other {
  color: $white-color;
  font-size: 1.5rem;
}

.footer-sub-heading__other {
  color: rgba($white-color, 0.5);
}

.menu-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-item {
  font-size: $smallest-size;
  margin-bottom: 1rem;

  .menu-link {
    color: rgba($white-color, 0.5);

    &:hover {
      color: $white-color;
    }
  }
}

.copyright {
  color: $white-color;
  text-align: center;
}
