footer {
  background-color: $black;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer-heading {
  align-items: center;
  color: $white-color;
  display: flex;
  font-size: 2.5rem;
  text-transform: uppercase;

  img {
    margin-right: 1rem;
    width: 3rem;
  }
}

.footer-sub-heading {
  color: $white-color;
  font-size: 1.25rem;
  font-weight: 400;
}

.footer-description {
  color: rgba($white-color, 0.5);
  font-size: $smallest-size;
}

.footer-heading__other {
  color: $white-color;
  font-size: 1.5rem;
}

.footer-sub-heading__other {
  color: rgba($white-color, 0.5);
  font-size: $smallest-size;
}

.menu-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-item {
  font-size: $smallest-size;
  margin-bottom: 1rem;

  .menu-link {
    color: rgba($white-color, 0.5);

    &:hover {
      color: $white-color;
    }
  }
}

.contact-us__form {
  .input-container {
    align-items: center;
    background-color: $black-color;
    border-radius: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;

    .bx {
      color: rgba($white, 0.5);
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .input-input {
      background: transparent;
      border: none;
      color: $white;
      display: block;
      font-size: $base-size;
      font-weight: 400;
      height: 100%;
      outline: none;
      width: 100%;

      &::placeholder {
        color: rgba($white, 0.5);
      }

      &::selection {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  .send-button {
    background-color: $primary-color;
    border-radius: 0.5rem;
    border: none;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: $base-size;
    font-weight: 400;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    width: 100%;
  }
}

.copyright {
  color: $white-color;
  font-size: $smallest-size;
  text-align: left;
}

@media (min-width: 768px) {
  .copyright {
    text-align: center;
  }
}
