header {
  background-color: $primary-color;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  .nav-container {
    .container-fluid {
      align-items: center;
      display: flex;
      position: relative;
    }
  }
}

.nav-logo {
  align-items: center;
  color: $white-color;
  display: flex;
  font-size: $title-size;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  img {
    margin-right: 1rem;
    width: 2.25rem;
  }
}

.nav-menu__container {
  display: none;
}

.nav-menu__list {
  align-items: center;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.nav-menu__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

.nav-menu__link {
  color: rgba($white-color, 0.75);

  &.active {
    color: $white-color;
    font-weight: 700;
    position: relative;

    &::after {
      background-color: $white-color;
      bottom: -0.5rem;
      content: "";
      height: 0.25rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &:hover {
    color: $white-color;
  }
}

.mobile-nav-hamburger {
  position: absolute;
  right: 1rem;

  .hamburger-icon {
    color: $white-color;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  header {
    .nav-container {
      .container-fluid {
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 992px) {
  .nav-logo {
    margin-bottom: 1rem;
  }

  .nav-menu__container {
    display: block;
  }

  .mobile-nav-hamburger {
    display: none;
  }
}
