header {
  background-color: $primary-color;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: sticky;
  top: 0;
  width: 100%;

  .nav-container {
    .container-fluid {
      align-items: center;
      display: flex;
    }
  }
}

.nav-logo {
  color: $white-color;
  font-size: $title-size;
  font-weight: 700;
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu__container {
  display: none;
}

.nav-menu__list {
  align-items: center;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.nav-menu__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-menu__link {
  color: rgba($white-color, 0.75);

  &.active {
    color: $white-color;
    font-weight: 700;
    position: relative;

    &::after {
      background-color: $white-color;
      bottom: -0.5rem;
      content: "";
      height: 0.25rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &:hover {
    color: $white-color;
  }
}

.search-form__container {
  display: none;
  margin-left: auto;
}

.input-container {
  align-items: center;
  background-color: $white-color;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.75rem;
}

.search-icon {
  color: $black-color;
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.search-input {
  background-color: $white-color;
  border: none;
  font-size: $base-size;
  outline: none;

  &::placeholder {
    color: rgba($black-color, 0.5);
    font-weight: 400;
  }

  &::selection {
    background-color: $primary-color;
    color: $white-color;
  }
}

@media (min-width: 768px) {
  .nav-menu__container {
    display: block;
  }

  .search-form__container {
    display: block;
  }
}
