body {
  &.disabled-scroll {
    overflow: hidden;
  }
}

#mobile-navigation {
  background-color: $black;
  height: 100%;
  padding: 1rem;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 110;

  &.active {
    right: 0;
  }
}

.mobile-nav__inner-container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.mobile-nav__header {
  align-items: center;
  background-color: $black;
  display: flex;
  left: 0;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;

  i {
    color: $white-color;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.mobile-nav__heading {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

#mobile-search-bar__contianer {
  margin-bottom: 1rem;
}

.search-bar-input__container {
  align-items: center;
  background-color: $black-color;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  width: 100%;

  .search-icon {
    color: rgba($white-color, 0.5);
    margin-right: 1rem;
  }

  .search-bar__input {
    background: transparent;
    border: none;
    color: $white-color;
    display: block;
    font-size: $base-size;
    outline: none;
    width: 100%;

    &::selection {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}

.mobile-nav__text {
  color: $white-color;
  font-size: $title-size;
}

.mobile-links__list {
  list-style: none;
  padding-left: 0;
}

.mobile-links__item {
  margin-bottom: 1rem;
}

.mobile-links__link {
  color: rgba($white-color, 0.5);
  font-size: $base-size;

  &:hover {
    color: $white-color;
  }
}

#copyrights {
  margin-top: 3rem;

  p {
    color: $white-color;
    font-size: $smallest-size;
    margin-bottom: 0;
  }
}

#overlay {
  background-color: rgba($black-color, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 105;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  #mobile-navigation,
  #overlay {
    display: none;
  }
}
