#privacy-policy {
  background-color: $white;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.page-heading__other {
  font-size: $heading-size;
  margin-bottom: 1.5rem;
}

.section-heading {
  font-size: $title-size;
}

.privacy-policy-paragraph {
  a {
    color: $primary-color;
    text-decoration: underline;
  }
}

.privacy-policy-list {
  li {
    font-size: $base-size;
    line-height: 1.5;
    margin-left: 0;
    padding-left: 0.5rem;
  }
}

.contact-us {
  font-style: italic;
}
