body {
  background-color: $black-color;
  font-size: $base-size;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
}

p {
  font-size: $base-size;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
}

b {
  font-weight: 700;
}

a {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
