@import url("https://rsms.me/inter/inter.css");
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Colors
$primary-color: #e50914;
$secondary-color: #b81d24;
$black-color: #221f1f;
$black: #000000;
$white-color: #f5f5f1;
$white: #ffffff;

// Font sizes
$heading-size: 3rem;
$sub-heading-size: 2rem;
$title-size: 1.75rem;
$sub-title-size: 1.5rem;
$description-size: 1.25rem;
$base-size: 1rem;
$smallest-size: 0.8rem;

@import "reset";
@import "container";
@import "row";
@import "grid";

@import "header";
@import "mobile-nav";

@import "headlines";
@import "business";
@import "covid-19";
@import "politics";
@import "sports";
@import "technology";
@import "travel";
@import "trending";

@import "footer";
@import "privacy-policy";
@import "terms-and-conditions";

@import "page-not-found";
